<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Unidades|Lista</h3>

      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody><tr>
          <th>ID</th>
          <th>Descricao</th>
          <th>Sigla</th>
          <th>Version</th>




        </tr>
        <tr *ngFor="let unid of list ">
          <td>{{unid.id}}</td>
          <td><a [routerLink]="['./../marcaedit'  , unid.id]">{{unid.descricao}}</a></td>
          <td>{{unid.sigla}}</td>
          <td>{{unid.version}}</td>
          <!--<td><button type=""class="btn btn-default" (click)="lancaModelo(marca.id)" ></button></td>-->

        </tr>

      </tbody></table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>