
<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-envelope"></i>

    <h3 class="box-title">Produto|Novo</h3>

  </div>


<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#geral" data-toggle="tab" aria-expanded="true">Geral</a></li>
    <li class=""><a href="#estoque" data-toggle="tab" aria-expanded="false">Estoque e Preço</a></li>
    <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
  </ul>
  <br>
  <h2></h2>
  <form class="form-horizontal" novalidate >
  <div class="tab-content">
    
    <div class="tab-pane" id="geral">
      <!-- Post -->
    <div class="row" >
      <div class=" col-xs-6">
        <label for="inputName" class="">Descrição</label>

        
          <input type="email" class="form-control"  placeholder="Descrição">
        
      </div>
      <div class="col-xs-6">
        <label for="inputEmail" class="">Email</label>

        
          <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        
      </div>
      <div class=" col-xs-6">
        <label for="inputName" class="">Name</label>

        <input type="text" class="form-control" placeholder="Name">
        
      </div>
  </div>
  <div class="row">
      
    <div class=" col-xs-6">
        <label >Experience</label>
        <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
        
      </div>
      <div class="checkbox col-xs-6">
        <label >
          <input type="checkbox" formControlName="inativo">
          Produto Inativo
        </label>
    </div>
      <div class="checkbox col-xs-6">
        <label >
          <input type="checkbox" formControlName="revenda">
          Para Revenda
        </label>
    </div>
    <div class="checkbox col-xs-6">
      <label >
        <input type="checkbox" formControlName="expinsumo">
        Material para Exp/Insumo
      </label>
  </div>
  
<div class="checkbox col-xs-6">
  <label >
    <input type="checkbox" formControlName="matprima">
    Materia Prima
  </label>
</div>
    
    </div>
      <!-- /.post -->
  </div>
    <!-- /.tab-pane -->
    <div class="tab-pane" id="estoque">
      






    </div>
    <!-- /.tab-pane -->

    <div class="tab-pane active" id="settings">
      
        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">Name</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputName" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">Email</label>

          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">Name</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputExperience" class="col-sm-2 control-label">Experience</label>

          <div class="col-sm-10">
            <textarea class="form-control" id="inputExperience" placeholder="Experience"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label for="inputSkills" class="col-sm-2 control-label">Skills</label>

          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
              </label>
            </div>
          </div>
        </div>
        
    </div>
    <!-- /.tab-pane -->
  
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-danger">Submit</button>
    </div>
  </div>

</form>
  <!-- /.tab-content -->
</div>

</div>
  <!-- /.header -->

