<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-envelope"></i>

    <h3 class="box-title">Grupo|Editar</h3>

  </div>
  <div class="box-body">
    <form [formGroup] ="editGrupoForm" novalidate (ngSubmit)="cadastroGrupo()" >
      
          
          
              <div class="form-group col-xs-12" >
                <label >Descrição</label>
                  <input type="text" name="descricao" class="form-control" formControlName="descricao" autofocus  >
                  <show-errors [control]="editGrupoForm.controls['descricao']"></show-errors>
                </div>


          
          <div class="form-group col-xs-12">
            <label for="cpf">nivel</label>
            <input type="text" class="form-control"  formControlName="nivel" (change)="findOrigem()" placeholder="">
            <show-errors [control]="editGrupoForm.controls['nivel']"></show-errors>

            </div>
      
           <!-- <div class="form-group col-xs-12">
              <label for="">Origem</label>
              <input type="text" class="form-control"  formControlName="origem" placeholder="">
              <show-errors [control]="grupoForm.controls['origem']"></show-errors>
  
            </div>-->
            <div class="form-group col-xs-3">
                <div class="form-group">
                  <label class="center-block">Sub_Grupo:
                    <select   class="form-control" formControlName="origem" >
                       <option *ngFor="let grup of grupolist" [value]="grup.id">N- {{grup.nivel}} -{{grup.descricao}}</option>
                       <option [value]="1" >Nivel 1- Nenhum</option>
                      </select>
                  </label>
                  <show-errors [control]="editGrupoForm.controls['origem']"></show-errors>
                </div>
              </div>  

              <div *ngIf="!this.Hidden" >
                <input type="text" class="form-control"  formControlName="id" >
                <input type="text" class="form-control"  formControlName="version" >


            </div>

      <div class="box-footer clearfix">
          <button type="submit" [disabled]="!editGrupoForm.valid" [class.btn-success]="editGrupoForm.valid" class="pull-right btn btn-primary" >Cadastrar
              <i class="fa fa-arrow-circle-right"></i></button>
        </div>
       <p>Form value: {{ editGrupoForm.value | json }}</p>
      <p>Form status: {{ editGrupoForm.status | json }}</p>
    </form>
  </div>



</div>

