<div class="col-xs-12">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Cliente|Lista</h3>

      <div class="box-tools">
        <div class="input-group input-group-sm" style="width: 150px;">
          <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

          <div class="input-group-btn">
            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody><tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Status</th>
          <th>CEP</th>
          <th>Local</th>
          <th>Cadastro</th>





        </tr>
        <tr *ngFor="let cliente of list ">
          <td>{{cliente.id}}</td>
          <td><a [routerLink]="['./../editarcliente'  , cliente.id]">{{cliente.fantasia}}</a>

          </td>
          <td><span *ngIf="cliente.ativo" class="label label-success">Ativo</span>
            <span *ngIf="!cliente.ativo" class="label label-danger">Inativo</span>
          </td>
          <td>{{cliente.cep}}</td>
          <td>{{cliente.logradouro}}</td>
          <td *ngIf="cliente.ativo"><a [routerLink]="['./../detalhecliente' , cliente.id  ]"><small class="label label-success ">  Detalhe  <i class="fa fa-car "></i>  </small> </a></td>
              <td *ngIf="!cliente.ativo"> <small class=" label label-default "> <i class="fa fa-car " ></i> Detalhe  </small> </td>
        </tr>

      </tbody></table>
    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->
</div>
