<div class="box box-info">
  <div class="box-header">
    <i class="fa fa-envelope"></i>

    <h3 class="box-title">Unidades | Editar</h3>

  </div>
  <div class="box-body">
    <form [formGroup] ="tipoServicoForm" novalidate (ngSubmit)="cadastroTipoServico()" >


                    <div class="form-group col-xs-12" >
                      <label >Descrição</label>
                        <input type="text" name="descricao" class="form-control" formControlName="descricao" autofocus  >
                        <show-errors [control]="tipoServicoForm.controls['descricao']"></show-errors>
                      </div>

                      
                      

      <div class="box-footer clearfix">
          <button type="submit" [disabled]="!tipoServicoForm.valid" [class.btn-success]="tipoServicoForm.valid" class="pull-right btn btn-primary" >Update
              <i class="fa fa-arrow-circle-right"></i></button>
        </div>
      <!--<p>Form value: {{ editGrupoForm.value | json }}</p>
      <p>Form status: {{ editGrupoForm.status | json }}</p>-->
    </form>
  </div>



</div>

